# Ignore folders named TEST and their contents
TEST/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore LaTeX compilation files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
Holomorphic_dynamics_an_Odyssey_from_Chaos_to_Art.*

# API Credentials
**/credentials.json
**/token.json
Src/Cloud/creds/credentials.json
Src/Cloud/creds/token.json

# Files below will be ignored by git, but still included in the manifest (for cloud upload)
# They must stay at the end of the .gitignore file!
# CLOUD_ASSETS
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.bmp
*.webp
*.svg
*.pdf 
*.eps
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.zip
*.tar
*.gz
*.7z 
*.rar
*.npy
*.npz
*.h5
*.dat